html, body {
	height:100%;
	width:100%;
	background-color: #1B1D28;
	overflow-x: hidden;
}

a, h2, h1, h3, p{
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	color:#f6f6f6;
}
#sidebar{
	position: fixed;
	height:100%;
	width:25%;
	background-color: #1B1D28;
	display:inline-block;
}
#sidebar-content{
	margin-top:10%;
}
#img-holder{
	background-color:#14A9A2;
	height:30%;
	width:70%;
	border-radius: 100%;
	margin-left: 12%;
}
#the-rest{
	float: right;
	width: 75%;
	background-color: #1B1D28;
	overflow-x: hidden;
}
.side-but{
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 7%;
	padding-right: 7%;
	display:inline;
	color: #f6f6f6;
	background-color: #1B1D28;
	border-radius: 15px;
	border: solid 3px #14A9A2;
	font-size: 16px;
	width: 56px;
}
.side-but:hover {
	background-color: #114845;
	cursor: cell;
}
.center-horizontal{
	margin-left: auto;
	margin-right: auto;
}

.side-text{
	font-size: 18px;
	color:#F6F6F6;
	border-bottom: solid 1px rgba(236,240,231,0.6);
	padding:2%;
	padding-bottom: 3.5%;
	text-align:center;
	cursor: cell;
}
#the-rest-content{
	margin-top: 10%;
}
.slide{
	margin-left: 5%;
}
.highlight{
	background-color: #f1c40f;
}
#header{
	float:top;
	width:100%;
	height:7%;
	background-color: #14A9A2;
	border-radius: 2px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 12px;
	font-size: 28px;
	padding-top: 7px;
	color:#f6f6f6;
	padding-bottom: 7px;
}
.request{
	width:80%;
	margin-left: 7%;
}
.bullet-point{
	float:left;
	width:30px;
	height:30px;
	border-radius: 100%;
	background-color:#f1c40f;
}
.bullet-point.neutral{
	background-color:#f1c40f;
}
.bullet-point.good{
	background-color:#2ecc71;
}
.bullet-point.bad{
	background-color:#c0392b;
}
.username, .reputation {
	color:#f6f6f6;
	font-size: 18px;
	font-weight: bold;
}
.input-stuff{
	height:44px;
	font-size: 32px;
	font-family: 'Source Sans Pro', sans-serif;
	width:80%;
}
#info{
	text-align: center;
	width:80%;
}
.reccomendation-option img{
	width:100%;
}
.reccomendation-option {
	width:18%;
	margin-right: 2%;
	margin-bottom: 2%;
	padding:3px;
	border: solid 1px rgba(236,240,231,0.3);
	display:inline-block;
}